{% extends 'layout.html.twig' %}

{% block content %}

	<section>
		<article>
			<div class="feed">
				<h2>DERNIÈRES ACTUALITÉS</h2>
				<img src="assets/images/vector.png" class="decoration">
				{% for article in actuality %}
					<a href=""><div class="article">
						<h3>{{ article.title }}</h3>
						<p class="article_date">{{ article.date }}</p>
						<p>{{ article.content }} <b>Lire la suite</b></p>
				</div></a>
				{% endfor %}
				<a class="show_more" href="">Consulter la rubrique actualités ➔</a>
			</article>
	</section>
    
{% endblock %}
