{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/newspaper/archive.css">
{% endblock %}

{% block archive %}
    <details>
            <summary role="button">Archives</summary>
            <div class="archives">
                <ul class="grid">
                    {% for newspaper in newspapers|slice(9) %}
                        <li>
                            <a href="{{ newspaper.link ?? '/'}}">n°{{newspaper.number}}  {{newspaper.date|date("m-Y")}}</a>
                        </li>
                    {% endfor %}   
                </ul>                         
            </div>
        </details>
{% endblock %}
