main {
    color: var(--dark-color);
}

.news_newspapers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: var(--spacing-s);

}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: calc(var(--spacing) * 1);
    padding: var(--spacing);
    background-color: var(--secondary-color);
}

.feed {
    display: flex;
    flex-direction: column;
    margin-block-start: 0;
    padding: 0;
}

h2 {
    font-family: var(--title-font);
    text-align: center;
    margin: 0;
    font-size: clamp(1.5rem, 1.2rem + 1.1vw, 2.1rem);
    margin-block-start: -1rem;
    padding-block-end: 1rem;
}

h3 {
    font-family: var(--text-font);
    font-weight: lighter;
    text-decoration: underline;
    font-size: clamp(1rem, 0.9rem + 0.6vw, 1.3rem);
    margin-block-end: 1rem;
    margin-block-start: 1rem;
}

p {
    font-family: var(--text-font);
}

.decoration {
    display: inline;
    justify-content: center;
    width: 50%;
    margin-inline-start: 25%;
    padding-block-end: calc(var(--spacing) * 0.4);
}

.feed a:not(.show_more_news) {
    margin-block: var(--spacing-s);
}

.article {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    display: flex;
    margin-block: calc(var(--spacing) * 0.8);
    flex-direction: column;
    transition-duration: 150ms;
}

.article:hover {
    background-color: #e6e6e6;
    text-decoration: none;
}

.article p {
    color: var(--primary-color);
}

.article p:nth-child(3) {
    color: var(--dark-color);
}

.feed a:-webkit-any-link {
    text-decoration: none;
    color: var(--primary-color);
}

.show_more_news {
    display: flex;
    margin-block-start: calc(var(--spacing) * 2.1);
    justify-content: center;
    align-self: last baseline;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .news_newspapers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
