header {
    background-image: url("../../images/gymnaseLaSource.jpeg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 700px;
    padding: 0 0;
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 10px 10px -10px var(--shadow-color);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header {
    padding: 0;
}

.header-text h1 {
    font-family: var(--title-font);
    color: var(--light-color);
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 0px;
}

.header-text {
    backdrop-filter: blur(10px);
}
