.partners{
    display : flex;
    flex-direction: column;
    max-width : 100%;
}
h1{
    text-align : center;
}
.partner {
    display : flex;
    flex-direction: column;
    width : 400px;
}
.partners h2 {
    font-size : var(--font-size1);
    max-width: 90%;
    white-space: nowrap;
}
.partners-grid {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap : var(--spacing);
}
