details {
    border-bottom: 0;
}

details summary[role="button"] {
    margin-inline: clamp(1rem, 10%, 10rem);
    width: calc(var(--spacing-l) * 2);
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: var(--text-font);
    border: 0;
}

.archives {
    margin-inline: clamp(1rem, 10%, 10rem);
}

.archives a {
    color: var(--primary-color);
    font-family: var(--text-font);
    font-weight: 700;    
}

.archives .grid {
    padding: 0;
    margin: 0;
}

.archives .grid li {
    list-style-type: none;
    margin: auto;
}

