{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin/addPartner.css">
{% endblock %}

{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter un partenaire</h1>
    {% include 'Admin/Partner/_form.html.twig' %}
{% endblock %}