body > footer {
    background-color: var(--dark-color);
    text-align: center;
    font-family: var(--text-font);
    padding: var(--space-l);
}

footer li {
    list-style-type: none;
    color: var(--light-color);
    font-size: calc(var(--font-size) * 1.5);
    font-weight: bold;
}
footer > .coordinate > .title {
    font-family: var(--third-font);
    font-size: calc(var(--font-size) * 3);
}
footer li.email a {
    color: var(--third-color);
}
footer li.adress {
    font-style: italic;
}
.social {
    display: flex;
    justify-content: center;
    gap: var(--spacing);
    margin-block-start: var(--spacing);
}
.social li {
    width: 70px;
    height: 70px;
    min-width: 35px;
}
footer img {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--third-color);
    background-color: var(--third-color);
    width: 100%;
    padding: 3px 3px;
}
.legal_notice li a {
    color: var(--light-color);
    display: flex;
    flex-direction: column;
}
