nav {
    background-color: var(--light-color);
    --nav-element-spacing-horizontal: var(--spacing1);
    --nav-element-spacing-vertical: var(--spacing);
    padding-inline: var(--spacing2);
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.450);
}

.nav-right a {
    color: var(--dark-color);
    font-family: var(--text-font);
    font-weight: bolder;
}

.nav-right a:hover {
    color: var(--primary-color);
    background-color: var(--light-color);  
}

.ahls a {
    font-size: calc(var(--font-size2)*1.5);
    font-family: var(--title-font);
    color: var(--primary-color);
    padding: 0;
}

.menu {
    position: absolute;
    right: var(--spacing1);
    top: var(--spacing3);
    visibility: hidden;
}

.menu a {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 850px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
}

@media screen and (max-width: 500px) {

    .ahls {
        display: none;
    }

    nav ul li a img {
        margin-left: var(--spacing1);
    }

    #nav-right {
        display: none;
        padding-left: 0;
        padding-right: var(--spacing1);
    }

    #nav-right:target {
        display: flex;
        flex-direction: column;
    }

    .menu {
        visibility: visible;
    }

}


