@import url(footer.css);

@font-face {
    font-family: "Raleway";
    src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
}
@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Raleway:wght@100&display=swap");
}
@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@100&display=swap");
}

[data-theme="“light”"],
:root:not([data-theme="“dark”"]) {
    --primary-color: rgb(171, 150, 97);
    --secondary-color: rgb(255, 254, 245);
    --dark-color: rgb(23, 24, 21);
    --light-color: rgb(251, 250, 250);
    --shadow-color: rgba(23, 24, 21, 0.45);
}

:root {
    --title-font: "Raleway";
    --text-font: "Open Sans";
    --third-font: "Poppins";

    --font-size: 1rem;
    --font-size2: 2rem;

    --spacing-s: 1rem;
    --spacing: 2rem;
    --spacing-l: 4rem;

    --border-radius: 8px;
}
