@import url(navbar.css);

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
}

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Raleway:wght@100&display=swap');
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@100&display=swap');
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary-color: rgb(68, 75, 60);
    --secondary-color: rgb(135, 131, 131);
    --third-color: #AB9661;
    --dark-color: rgb(23, 24, 21);
    --light-color: rgb(255, 255, 255);
}

:root {
    --title-font: 'Raleway';
    --text-font: 'Open Sans';
    --third-font: 'Poppins';

    --spacing-s: 1rem;
    --spacing: 2rem;
    --space-l: 4rem;

    --border-radius: 8px;
}



