@import url(navbar.css);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

[data-theme=“light”],
:root:not([data-theme=“dark”]) {
    --primary-color: rgb(171, 150, 97);
    --secondary-color: rgb(255, 254, 245);
    --dark-color: rgb(23, 24, 21);
    --light-color: rgb(251, 250, 250);
    --shadow-color: rgba(23, 24, 21, 0.450);
}
        
:root {
    --title-font:'Raleway';
    --text-font: 'Open Sans';

    --font-size1: 1rem;
    --font-size2: 2rem;
    
    --spacing: 0.5rem;
    --spacing1: 1rem;
    --spacing2: 2rem;
    --spacing3: 3rem;
    --spacing4: 4rem;
}

