{% extends 'AdminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajout Association
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin/adminAddBoardMember.css">
{% endblock %}

{% block content %}
	<main class="container">
		<h3>Ajouter un membre du Conseil</h3>

		{% include 'Admin/Association/_form.html.twig' %}

		<a href="/" class="backToSite">Retour vers le site</a>
	</main>
{% endblock %}
