<footer>
	<ul class="coordinate">
		<li class="title">AHLS</li>
		<li>02.38.69.28.22</li>
		<li class="email">ahls@wanadoo.fr</li>
		<li>tous les jeudis de 10h à midi</li>
		<li class="adress">1 rue Stendhal 45100 ORLEANS</li>
	</ul>
	<ul class="social">
		<li>
			<a href="https://www.facebook.com/"><img src="assets/images/facebook.svg" alt="logo facebook"></a>
		</li>
		<li>
			<a href="https://www.instagram.com/"><img src="assets/images/instagram.svg" alt="logo instagram"></a>
		</li>
		<li>
			<a href="https://www.tiktok.com/"><img src="assets/images/tiktok.svg" alt="logo tiktok"></a>
		</li>
		<li>
			<a href="https://twitter.com/"><img src="assets/images/twitter.svg" alt="logo twitter"></a>
		</li>
		<li>
			<a href="https://youtube.com/"><img src="assets/images/youtube.svg" alt="logo youtube"></a>
		</li>
	</ul>
</footer>
