<nav>
    <ul >
        <li><a href="/"><img src="assets/images/logo_ahls.png" alt="logo ahls" width= "80px"></a></li> 
        <li class= "ahls"><a href="/">AHLS</a></li>
    </ul>
    <ul class= "nav-right" id= "nav-right">
        <li><a href="/">Accueil</a></li> 
        <li><a href="/">Actualités</a></li>
        <li><a href="/">Association</a></li> 
        <li><a href="/">Journaux</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
    <div class= "menu" >
        <a href="#nav-right"><img src="assets/images/menu.svg" alt= "menu" width= "50px"></a>
    </div>
</nav>
