<nav>
	<ul>
		<li class="title">
			<a href="/admin">Administration</a>
		</li>
	</ul>
	<ul class="nav-right" id="nav-right">
		<li>
			<a href="/admin/actualites">Actualités</a>
		</li>
		<li>
			<a href="/admin/journaux">Journaux</a>
		</li>
		<li>
			<a href="/admin/contact">Partenaires</a>
		</li>
		<li>
			<a href="/admin/association">Membres du Conseil</a>
		</li>
	</ul>
	<div class="menu">
		<a href="#nav-right"><img src="assets/images/menu.svg" alt="menu" width="50px"></a>
	</div>
</nav>
