{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/legalNotice.css">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Mentions Légales
{% endblock %}

{% block content %}
	<header>
		<div class="legalNoticeTitle">
			<h1>MENTIONS LEGALES</h1>
			<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
		</div>
	</header>
	<main class="container-fluid">
		<div class="presentation">
			<div class="presentationTitle">
				<h2>CE SITE EST EDITE PAR</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<p>Association AHLS 1 RUE STENDHAL 45100 ORLEANS CEDEX</p>
				<p>SIRET : 318 990 892 00065 Tél. : 02.38.69.28.22 Email : ahls@wanadoo.fr
				</p>
				<p>Directeur de la publication: Jean-Louis Delfau</p>
				<p>Les données personnelles que vous avez communiquées à AHLS par l’intermédiaire du site internet www.AHLS.com sont, sauf demande contraire de votre part, traitées et conservées par notre association.</p>
				<p>Conformément à la réglementation française et européenne en vigueur, vous pouvez vous opposer à l’utilisation de vos données ou y accéder pour leur rectification, limitation ou effacement en adressant une demande écrite, accompagnée d’un titre d’identité, à : AHLS – A l’attention du DPO – 1 rue Stendhal 45100 ORLEANS ou ahls@wanadoo.fr</p>
			</section>
		</div>
		<div class="presentation">
			<div class="presentationTitle">
				<h2>CONDITIONS D’UTILISATION DU SITE</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<p>En accédant et/ou en utilisant le présent Site internet accessible à l’adresse https://www.ahls.com (ci-après « le Site »), tout utilisateur accepte, tacitement et sans réserve, les présentes conditions d’utilisation du Site.</p>
				<h3>1. PROPRIÉTÉ INTELLECTUELLE</h3>
				<p>1.1.Le Site et chacun des éléments qui le compose, et notamment les textes, articles, lettres d’information, brochures, plans, nuage de mots-clés, images, illustrations, photographies, bases de données, logiciels, marques, logos, fichiers disponibles en téléchargement, clips vidéo ou sonores, structure générale du site, -ci-après les Éléments de propriété intellectuelle, sont protégés par le droit français de la propriété intellectuelle. Les marques et logos reproduits sur le site internet sont déposés et protégés à titre de marque.</p>
				<p>1.2. Tous les droits de reproduction sont réservés pour tous les éléments de propriété intellectuelle du présent site internet. La reproduction totale ou partielle des Éléments de propriété intellectuelle est interdite.</p>
				<p>1.3. L’utilisateur n’est autorisé qu’à représenter les pages du Site sur son écran et n’est autorisé à reproduire les Éléments de propriété intellectuelle du Site qu’à titre temporaire aux seules fins de consultation du Site.</p>
				<p>1.4. L’utilisateur n’est autorisé qu’à télécharger et reproduire de manière durable, sur tout support, les publications d’AHLS, et notamment les lettres d’information, lorsque cette reproduction ou représentation est faite à des fins strictement personnelles, privées et non commerciales. L’utilisateur s’interdit de communiquer ces publications à des tiers, y compris par courrier électronique et par mise à disposition à partir d’un site internet ou d’un serveur.</p>
				<p>1.5. L’utilisateur est autorisé à faire des courtes citations du Site, sous réserve que soit précisé de manière apparente : l’origine du document (i.e. « extrait du site d’AHLS ») le titre du document ou de la page cités, le nom de l’auteur et la date du document s’ils sont connus.</p>
				<h3>2. UTILISATION DU SITE</h3>
				<p>2.1 DISPOSITIONS GÉNÉRALES</p>
				<p>2.1.1. L’ensemble des données, informations et publications accessibles, représentées ou téléchargeables à partir du Site n’ont aucun caractère exhaustif, sont communiquées à titre purement informatif.</p>
				<p>2.1.2. AHLS ne pourra en aucun cas être tenu responsable de tout dommage direct ou indirect résultant de l’utilisation par tout utilisateur des données, informations ou publications accessibles ou téléchargeable à partir du Site.</p>
				<p>2.1.3. AHLS ne pourra en aucun cas être tenu responsable au titre du contenu accessible à partir des liens hypertextes publiés sur le Site ou des fichiers téléchargeables à partir du Site ou des sites accessibles à partir des liens hypertextes publiés sur le Site.</p>
				<p>2.1.4. La création et la publication d’un lien hypertexte vers l’une des pages du Site sont autorisées, sous réserve de l’accord préalable et exprès d’AHLS. La publication devra mentionner la source avec le lien hypertexte qui pointe sur le contenu du site. Toute utilisation à des fins commerciales est exclue.</p>
				<p>2.2 COOKIES Le site www.ahls.com utilise des « cookies » qui sont des fichiers texte (.txt) placés sur votre ordinateur.</p>
				<p>2.2.1. Politique d’utilisation des cookies Le site utilise 4 types de cookies :</p>
				<p>Les cookies techniquement nécessaires au bon fonctionnement des sites web. Ces cookies permettent notamment d’accéder aux espaces réservés et personnels des sites.</p>
				<p>Les cookies utilisés pour mesurer et analyser le comportement des internautes lors de la navigation. Ces cookies permettent d’établir des statistiques sur la fréquentation et l’utilisation des divers éléments composant les sites1 d’ACF (rubriques et contenus visités, parcours), lui permettant ainsi d’améliorer l’intérêt et l’ergonomie de ses contenus.</p>
				<p>Les cookies utilisés par le service de partage de pages sur les réseaux sociaux. Ces cookies permettent notamment de mesurer l’usage qui est fait des différents boutons de partages du contenu qu’AHLS propose.</p>
				<p>Les cookies liés aux opérations relatives à la publicité. Ces cookies permettent d’afficher, en temps réel, le contenu le plus adapté aux centres d’intérêt des internautes déduits de leur navigation récente sur les sites d’ACF. Pour tous ces types de cookies, AHLS s’engage à ne pas y conserver de données personnelles.</p>
				<p>2.2.2. Comment vous pouvez gérer les cookies qui sont déposés sur votre ordinateur ? L’enregistrement d’un cookie est subordonné à la volonté de l’utilisateur, que celui-ci peut exprimer et modifier à tout moment à travers des options de paramétrage offerts par son logiciel de navigation.</p>
				<p>Si vous avez accepté, dans votre logiciel de navigation, l’enregistrement de cookies par votre navigateur, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié. Ils y seront lisibles uniquement par leur émetteur. Si vous refusez l’enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous ne pourrez plus bénéficier des fonctionnalités permises par ces cookies. Par exemple, il ne vous serait plus possible d’accéder aux espaces privés sécurisés par un mot de passe mémorisé. Vous devrez ainsi ressaisir vos mots de passe à chaque connexion.</p>
				<p>2.2.3. Comment configurer les cookies sur votre navigateur ? Vous pouvez configurer votre navigateur de manière à ce que des cookies y soient enregistrés ou, à l’inverse, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. Vous pouvez également configurer votre navigateur de manière à ce que l’acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré. La configuration des cookies est propre au navigateur que vous utilisez. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>
				<p>Vous trouverez ci-dessous des liens vers les modes d’emploi pour les principaux navigateurs :Pour Chrome TM Pour Firefox TM Pour Internet Explorer TM Pour Safari TM</p>
				<h3>3. AVERTISSEMENT</h3>
				<p>AHLS ne peut garantir la disponibilité et l’accessibilité permanente au Site, notamment pour des raisons techniques de maintenance.</p>
				<p>De même, elle ne pourra être tenue pour responsable des dysfonctionnements ci-après, sans que la liste soit limitative : la mauvaise transmission et/ou réception de toute donnée et/ou information sur Internet, une intrusion extérieure ou la présence de virus informatique, la défaillance de tout matériel de réception ou des lignes de communication, tout autre dysfonctionnement du réseau Internet empêchant le bon fonctionnement du Site.</p>
				<h3>4.DROIT APPLICABLE ET LITIGES</h3>
				<p>Les règles d’utilisation du présent Site sont soumises à la loi française, ainsi que les éventuels litiges pouvant en découler.</p>
			</section>
		</div>
	</main>
{% endblock %}
