{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
    <main class="container">
        <h1>Modifier le journal {{ newspaper.number }}</h1>

        {% include 'Admin/Newspaper/_form.html.twig' with {buttonName: 'Modifier'} %}

        <a href="/admin/journaux">Retour</a>
    </main>
{% endblock %}
{% block footer %}{% endblock %}